 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Helvetica';
        }
        body{
            background: rgb(10, 90, 77);
        }
        section.container{
            background-color: white;
            max-width: 600px;
            height: auto;
            padding: 5%;
            margin: 100px auto;
            border-radius: 20px;
            font-weight: bold;
        }
        section.container h1{
            margin-bottom:10px;
            font-size: 30px;
            border-bottom: 1px solid #ccc;
        }
        section.container p{
           
           margin-top: 20px;
        }
        input.input-tarefa{
            font-size: 15px;
            padding: 2%;
        }
        button{
            background-color: rgb(10, 90, 77);
            color: white;
            cursor: pointer;
            font-size: 15px;
            padding: 2%;
            border-radius: 10px;
            margin-top: 10px;
            border: none;
        }
